$cta-text: hsl(356, 100%, 66%);
$cta-text-hover: hsl(355, 100%, 74%);
$headings-color: hsl(208, 49%, 24%);
$text-color: hsl(0, 0%, 100%);
$footer-color: hsl(240, 2%, 79%);
$body-copy-color: hsl(207, 13%, 34%);
$footer-bg: hsl(240, 10%, 16%);
$grad-tow: linear-gradient(0deg, hsl(237, 23%, 32%), hsl(237, 17%, 21%));
